

body {
    background-color: rgb(43, 164, 180);
}

#chicken {
    height:500px;
    width: 500px; 
}

#curry {
    height: 500px;
    width: 500px;
}

li {
    margin: 5px;
}

#sausage {
    height: 500px;
    width: 500px;
}